body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #e1e8f0;
    z-index: 2;
}
.header__nav {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
.header__nav a {
    text-decoration: none;
    color: #735b5b;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}
.header__nav a:hover {
    cursor: pointer;
}
.header__nav a::after { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #735b5b;
    transition: width 0.7s ease 0s, left 0.3s ease 0s;
}
  
a:hover::after { 
    width: 100%; 
    left: 0; 
}
.info {
    width: 100%;
    background-image: url(img/Fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 190px;
    padding-bottom: 300px;
}
.info__foto {
    z-index: 1;
    padding: 20px;
    background-color: #FFFAFA;
    text-align: center;
    box-shadow: 0 16px 36px #e1e8f0;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.info__foto img {
    width: 200px;
}
.info__foto h1 {
    font-size: 15px;
    background-color: #e1e8f0;
    line-height: 2;
}
.info__foto_aim {
    font-weight: 600;
    opacity: 0.4;
}
.info__welcome {
    background-color: #b6bfc9;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 100px;
    align-items: center;
    align-self: center;
    box-shadow: 0 16px 36px  #e1e8f0;
    
}
.info__welcome h2 {
    padding-left: 30px;
    text-align: left;
    color: #fff;
    font-weight: 900;
    font-size: 35px;
    opacity: 0.9;
}
.info__welcome__text {
    font-weight: 900;
    opacity: 0.9;
    color: #fff;
    font-size: 25px;
}
.info__welcome label {
    font-size: 15px;
    font-weight: 900;
    opacity: 0.9;
    color: #fff;
}
.test_osa {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #e8e8e8;
    background-size: 100%;
}
.test_osa__icon {
    align-items: center;
}
.fa-solid, .fa-regular {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    opacity: 0.8;
    color: aqua;
}
.test_osa__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test_osa__text h6 {
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}
.test_osa img {
    width: 100%;
}
.exper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #bfbfbf;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #FFFAFA;
}
.exper__icon {
    margin-top: 10px;
    margin-bottom: 20px;
}
.exper__icon h6 {
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}
.exper__contain {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 40px; 
}
.exper__contain a {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}
.exper__contain a:hover, .info__welcome a:hover, .contacts a:hover {
    color: #03c700;
}
.exper__education {
    display: flex;
    padding-top: 20px;
    padding-bottom: 80px;
    justify-content: space-around;
    width: 100%;
    display: flex;
}
.exper__education div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;
    color: rgb(31, 31, 31);
    font-weight: 800;
}
.exper__education img {
    width: 80px;
    height: 120px;
    transition: transform 1s;
}
.exper__education img:hover {
    transform: scale(5);
}
.info__welcome a, .exper__contain a, .contacts__block a {
    text-decoration: none;
    color: rgb(135, 0, 0);
    transition: color 1.2s linear;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6c6c6c;
    background-size: cover;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 40px;
}
.contacts__icon, .contacts__block, .contacts__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}
.contacts__text {
    font-size: 30px;
}
.contacts__text h6 .fa-regular {
    font-size: 30px;
    color: #fff;
}
.contacts__text {
    width: 700px;
    height: 120px;
    background-color: #b6bfc9;
    border-radius: 200px;
    padding-bottom: 20px;
}
.contacts__block {
    gap: 30px;;
}
.contacts__block a {
    background-color: #b6bfc9;
    border-radius: 200px;
    padding: 15px;
}
footer {
    width: 100%;
    background-color: #dcdcdc;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.footer__container {
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__group1 {
    grid-column: 1/2;
    align-self: center;
}
.footer__group2 {
    grid-column: 2/3;
}
.footer__group3 {
    grid-column: 3/4;
}
.footer__group4 {
    grid-column: 4;
}
.footer__copyright .fa-solid {
    color: black;
    font-size: 25px;
}
.footer__copyright{
    text-align: center;
    align-self: center;
    opacity: 0.5;

}
.footer__group {
    display: flex;
    flex-direction: column;
}
.footer__group h3 {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
}
.footer__links {
    display: flex;
    flex-direction: column;
}
.footer__links a {
    margin-bottom: 15px;
}
footer a {
    color: black;   
}
.test_osa__icon .fa-solid, .exper__icon .fa-solid, .contacts__icon .fa-regular {
    animation: flip 2.5s ease-in-out infinite;
}
.info__foto:not(:active) {
    animation: flip 1.5s linear 1;
}  
@keyframes flip {
    0% {
      transform: rotateY(0);
    }
  
    50% {
      transform: rotateY(90deg);
    }
  
    100% {
      transform: rotateY(180deg);
    }
}
@media (max-width: 1080px) {
    * {
        font-size: 15px;
    } 
    section img {
        width: 50px;
    }
    footer {
        width: 100vw;
        font-size: 15px;
        margin: 0;
        padding: 0;

    }
 }
@media (max-width: 1024px) {
    * {
        font-size: 15px;
    } 
    footer {
        width: 100vw;
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
    section img {
        width: 50px;
    }
 }
 @media (max-width: 720px) {
    * {
        font-size: 15px;
    }
    body {
        overflow-x: hidden;
        width: 100%;
    }
    header {
        padding-bottom: 10px;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
    }
    .info {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .info__welcome {
        margin-left: 10px;
        margin-right: 10px;
    }
    .contacts__text {
        width: 100%;
    } 
    .footer__container {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        margin: 0;
        padding-left: 10px;
    }
    section img {
        width: 50px;
    }
 }